---
import MainLayout from "@/layouts/MainLayout.astro";

const details = [
  { label: "Korean Address ", value: "Free" },
  { label: "Storage (30 days ) ", value: "Free" },
  { label: "Ext. Storage", value: "Free" },
];

const purchaseDetails = [
  { label: "Online Purchase ", value: "2,000KRW" },
  { label: "Online Purchase (Seoul) ", value: "40,000KRW/1hr" },
  { label: "+15,000KRW/Extra hr", value: "" },
];

const optionalDetails = [
  { label: "Unboxing with Video ", value: "2,000KRW/Package" },
  { label: "Unboxing with Photo ", value: "1,000KRW/Package" },
  { label: "Inclusion Only", value: "1,500KRW/album" },
];
const forwardingDetails = [
  { label: "Consolidation ", value: "Free" },
  { label: "Forwarding ", value: "Free*" },
  { label: "Pick up ", value: "3,000KRW/Package" },
  {
    label: "* please refer to the shipping rate as shipping charge",
    value: "",
  },
];

export const prerender = true;
---

<MainLayout title="Service Rate | Pickup Korea" currentRoute="/service-rate">
  <main>
    <section class="section-container">
      <div class="max-w-[1000px] mx-auto px-4 xl:px-0">
        <h1 class="heading mb-8 sm:mb-[2.578125rem]">
          Warehouse
        </h1>
        <article class="article-text">
          <p>
            For members only, we will give you an address to ship your order.<br />
            The address can be found on <strong>MY menu</strong> after signing up.<br />
            Product can be stored for free up to 30 days from the date of confirmation after delivery.<br />
            At the end of the free storage period, if you pay an extension storage fee, you can keep it for up to 90 days and it may be discarded after that.
          </p>
        </article>
        <div class="container-primary">
          <dl>
            {details.map((item, index) => (
              <div class="flex gap-3 justify-between mb-4 w-full">
                <dt class="text-black">{item.label}</dt>
                <span class="dotted-border" />
                <dd class="text-black">{item.value}</dd>
              </div>
            ))}
          </dl>
        </div>
      </div>
    </section>

    <section class="bg-gray-section">
      <div class="section-container flex flex-col justify-center items-center px-4">
        <h2 class="heading mb-8 sm:mb-[4.171875rem]">
          Purchase
        </h2>
        <article class="text-center mx-auto w-[991px] h-[33px]" style="font-size: 24px; font-weight: 400; line-height: 32.69px;">
          <p>
            We can help to purchase the items you want by the Korean online or offline shop.
          </p>
        </article>
        <div class="container-primary mt-8 sm:mt-[4.171875rem] mb-12 sm:mb-24 mx-4 sm:mx-[3.984375rem]">
          <dl>
            {purchaseDetails.map((item, index) => (
              <div class:list={[
                "flex gap-4 flex-col sm:flex-row mb-4 w-full items-center sm:items-baseline",
                item.value ? "justify-between" : "justify-end",
              ]}>
                <dt class="text-black">{item.label}</dt>
                {index !== purchaseDetails.length - 1 && <span class="dotted-border hidden sm:block" />}
                {item.value && <dd class="text-black">{item.value}</dd>}
              </div>
            ))}
          </dl>
        </div>
      </div>
    </section>
    
    
    <section class="section-container">
      <h2 class="heading mb-8 sm:mb-[2.578125rem]">
        Optional
      </h2>
      <article class="article-text">
        <p>
          If you want to check your package inside, please use the unboxing service.<br />
          We can help you check the status and quantity.<br />
          If you only want inclusion in your albums, please use the inclusion only service.<br />
          You can save shipping costs by drastically reducing the volume and weight.
        </p>
      </article>
      <div class="container-primary mx-4">
        <dl>
          {optionalDetails.map((item, index) => (
            <div class="flex flex-col gap-4 md:flex-row justify-between mb-4 w-full items-center md:items-baseline">
              <dt class="text-black">{item.label}</dt>
              <span class="dotted-border hidden md:block" />
              <dd class="text-black">{item.value}</dd>
            </div>
          ))}
        </dl>
      </div>
    </section>

    <section class="bg-gray-section">
      <div class="section-container flex flex-col justify-center items-center px-4">
        <h2 class="heading mb-8 sm:mb-24">
          Forwarding & Pickup
        </h2>
        <article class="article-text">
          <p>
            If you would like to receive your packages, please use forwarding service.<br />
            We could combine multiple packages into one box (consolidation) and ship via EMS, K-packet, and other express carriers.<br />
            If you have a plan to visit Korea within the storage period, you can also pick up the delivered items in person from Pickup Korea office with advance notice 7 days prior to the visit date.
          </p>
        </article>
        <div class="container-primary mt-8 sm:mt-24 mb-12 sm:mb-24">
          <dl>
            {forwardingDetails.map((item, index) => (
              <div class:list={[
                "flex gap-4 justify-between mb-4 w-full",
                item.value ? "justify-between" : "justify-end",
              ]}>
                <dt class="text-black">{item.label}</dt>
                {index !== forwardingDetails.length - 1 && <span class="dotted-border" />}
                {item.value && <dd class="text-black">{item.value}</dd>}
              </div>
            ))}
          </dl>
        </div>
      </div>
    </section>
  </main>
</MainLayout>

<style>
  
    .section-container {
      @apply py-9 sm:py-[4.5rem] w-full; /* 75% of py-12 and py-24 */
    }
    .bg-gray-section {
      @apply w-full bg-primaryGray;
    }
    .heading {
      @apply text-[1.125rem] sm:text-[1.875rem] leading-[1.5rem] sm:leading-[2.554rem] font-bold text-center; /* 75% of the original values */
    }
    .article-text {
      @apply text-base sm:text-xl text-left max-w-[90%] sm:max-w-[62.5rem] mx-auto; /* text-lg to text-base and text-2xl to text-xl */
    }
    .container-primary {
      @apply bg-primaryBeige p-3 sm:p-[4.5rem] rounded-3xl w-full max-w-[51.875rem] mx-auto flex flex-col justify-start my-9 sm:my-[4.5rem]; /* 75% of p-4 and p-16 */
    }
    .text-black {
      @apply font-bold text-sm sm:text-xl; /* 75% of text-base and text-2xl */
    }
    .dotted-border {
      @apply flex-1 border-b-2 sm:border-b-4 border-dotted border-black;
    }

</style>
