---
import MainLayout from "@/layouts/MainLayout.astro";
import Wise1 from "@/assets/Wise1.png";
import Wise2 from "@/assets/Wise2.png";
import Wise3 from "@/assets/Wise3.png";
import Wise4 from "@/assets/Wise4.png";
import Wise5 from "@/assets/Wise5.png";
import WiseLogo from "@/assets/WiseLogo.png";
import { Image } from "astro:assets";

export const prerender = true;
---

<MainLayout title="How to pay | Pickup Korea" currentRoute="/how-to-pay">
  <main>
    <section class="w-full bg-primaryBeige">
  <div class="w-full max-w-[80rem] mx-auto py-24 px-4 lg:px-0">
    <h1 class="mx-auto text-center font-bold mb-14 lg:mb-[8.5rem] text-2xl lg:text-[2.5rem] leading-[2.5rem] lg:leading-[3.405rem] w-full lg:w-[62.5rem] h-14 lg:h-[3.375rem]">
      How to pay
    </h1>
    <article class="grid sm:grid-cols-2 xl:grid-cols-3 gap-8 text-left mx-auto">
      <dl class="flex flex-col items-center w-full h-auto gap-4 list-none">
        <dt class="text-base font-bold leading-[1.361875rem] text-center">1. Log in to Wise</dt>
        <dd>
          <Image
            src={WiseLogo}
            alt="Wise Logo"
            width={46.81}
            height={50}
            class="mt-5 gap-0 rounded-tl-[0.625rem]"
          />
        </dd>
      </dl>
      <dl class="flex flex-col items-center w-full h-auto gap-4 list-none">
        <dt class="text-base font-bold leading-[1.361875rem] text-center">2. Single payment Click</dt>
        <dd>
          <Image
            src={Wise1}
            alt="Step 2"
            width={250}
            height={68.4}
            class="mt-5 relative gap-0"
          />
        </dd>
      </dl>
      <dl class="flex flex-col items-center w-full h-auto gap-4 list-none">
         <dt class="text-base font-bold leading-[1.361875rem] text-center">
          3. Change currency (Recipient: KRW) and input the billing amount
        </dt>
        <dd>
          <Image
            src={Wise2}
            alt="Step 3"
            width={250}
            height={320.06}
            class="mt-5 relative gap-0"
          />
        </dd>
      </dl>
      <dl class="flex flex-col items-center w-full h-auto gap-4 list-none">
        <dt class="text-base font-bold leading-[1.361875rem] text-center">
          4. Select recipient e-mail to sendingforyou@yahoo.com
        </dt>
        <dd>
          <Image
            src={Wise3}
            alt="Step 4"
            width={250}
            height={564.52}
            class="mt-5 relative gap-0"
          />
        </dd>
      </dl>
      <dl class="flex flex-col items-center w-full h-auto gap-4 list-none">
        <dt class="text-base font-bold leading-[1.361875rem] text-center">5. Check the reason to transfer money</dt>
        <dd>
          <Image
            src={Wise4}
            alt="Step 5"
            width={250}
            height={276.19}
            class="mt-5 relative gap-0"
          />
        </dd>
      </dl>
      <dl class="flex flex-col items-center w-full h-auto gap-4 list-none">
        <dt class="text-base font-bold leading-[1.361875rem] text-center">
          6. Put in your ID into Reference (optional) and Send money
        </dt>
        <dd>
          <Image
            src={Wise5}
            alt="Step 6"
            width={250}
            height={519.14}
            class="mt-5 relative gap-0"
          />
        </dd>
      </dl>
    </article>
  </div>
</section>

<section class="w-full mx-auto px-4 lg:px-0">
  <article class="w-full max-w-[62.5rem] mx-auto mt-24 mb-14 px-4 lg:px-0">
    <h2 class="w-full h-14 text-center text-2xl sm:text-xl lg:text-[2.5rem] font-bold leading-[2.5rem] sm:leading-[2rem] lg:leading-[3.405rem] mb-14">
      ※ Be sure to check the below before order!
    </h2>
    <ol class="list-decimal list-inside space-y-4 text-lg sm:text-base">
      <li class="text-lg sm:text-base lg:text-[1.5rem] font-[400] leading-6 sm:leading-5 lg:leading-[2.043125rem] text-left">
        After receiving the order form, proxy purchasing begins when payment is completed.
      </li>
      <li class="text-lg sm:text-base lg:text-[1.5rem] font-[400] leading-6 sm:leading-5 lg:leading-[2.043125rem] text-left">
        If additional domestic shipping costs are incurred depending on the shopping mall, it will be added to the Forwarding Invoice.
      </li>
      <li class="text-lg sm:text-base lg:text-[1.5rem] font-[400] leading-6 sm:leading-5 lg:leading-[2.043125rem] text-left">
        Depending on the shopping mall’s policy, returns may not be possible.
      </li>
      <li class="text-lg sm:text-base lg:text-[1.5rem] font-[400] leading-6 sm:leading-5 lg:leading-[2.043125rem] text-left">
        Some items (candles, perfume, etc.) cannot be shipped overseas, so please inquire in advance.
      </li>
      <li class="text-lg sm:text-base lg:text-[1.5rem] font-[400] leading-6 sm:leading-5 lg:leading-[2.043125rem] text-left">
        When applying for overseas shipping, items purchased on behalf of an PK helpers are reported at the full price including domestic shipping costs and our service fee.
      </li>
      <li class="text-lg sm:text-base lg:text-[1.5rem] font-[400] leading-6 sm:leading-5 lg:leading-[2.043125rem] text-left">
        After submission, please send ‘Proxy Purchase’ via KakaoTalk.
      </li>
    </ol>
  </article>
</section>

<section class="w-full mx-auto mb-24 px-4 lg:px-0">
  <article class="w-full max-w-[70.0625rem] bg-gray-200 py-14 px-8 lg:py-[4.4375rem] lg:px-[3.3125rem] mt-24 mb-24 mx-auto flex flex-col justify-center rounded-[2.5rem]">
    <p class="text-lg sm:text-base lg:text-[1.5rem] font-[700] leading-6 sm:leading-5 lg:leading-[2.043125rem] text-left">
      ※ For offline proxy purchases, please send ‘Offline Proxy Purchase’ via KakaoTalk instead of filling out an order sheet.
    </p>
    <p class="text-lg sm:text-base lg:text-[1.5rem] font-[700] leading-6 sm:leading-5 lg:leading-[2.043125rem] text-left mt-8 lg:mt-[1.875rem]">
      ※ If you have an ID and PW of shopping mall, so you just want to check out after you put items into your cart, please enter the ID and PW in the memo.
    </p>
  </article>
</section>
</main>
  </MainLayout>
