---
import MainLayout from "@/layouts/MainLayout.astro";
import Wise1 from "@/assets/Wise1.png";
import Wise2 from "@/assets/Wise2.png";
import Wise3 from "@/assets/Wise3.png";
import Wise4 from "@/assets/Wise4.png";
import Wise5 from "@/assets/Wise5.png";
import WiseLogo from "@/assets/WiseLogo.png";
import { Image } from "astro:assets";

export const prerender = true;
---

<MainLayout title="How to pay | Pickup Korea" currentRoute="/how-to-pay">
  <main>
    <section class="w-full bg-primaryBeige">
      <div class="w-full max-w-[80rem] mx-auto py-[13.5rem] px-[0.75rem] lg:px-0">
        <h1 class="mx-auto text-center font-bold mb-[10.5rem] lg:mb-[6.375rem] text-[1.5rem] lg:text-[1.875rem] leading-[1.875rem] lg:leading-[2.55375rem] w-full lg:w-[62.5rem] h-[2.625rem] lg:h-[2.53125rem]">
          How to pay
        </h1>
        <article class="grid sm:grid-cols-2 xl:grid-cols-3 gap-[1.5rem] text-left mx-auto">
          <dl class="placement">
            <dt class="steps-list">
              1. Log in to Wise
            </dt>
            <dd>
              <Image
                src={WiseLogo}
                alt="Wise Logo"
                width={46.81}
                height={50}
                class="mt-[0.9375rem] gap-0 rounded-tl-[0.46875rem]"
              />
            </dd>
          </dl>
          <dl class="placement">
            <dt class="steps-list">
              2. Single payment Click
            </dt>
            <dd>
              <Image
                src={Wise1}
                alt="Step 2"
                width={250}
                height={68.4}
                class="image-loc"
              />
            </dd>
          </dl>
          <dl class="placement">
            <dt class="steps-list">
              3. Change currency (Recipient: KRW) and input the billing amount
            </dt>
            <dd>
              <Image
                src={Wise2}
                alt="Step 3"
                width={250}
                height={320.06}
                class="image-loc"
              />
            </dd>
          </dl>
          <dl class="placement">
            <dt class="steps-list">
              4. Select recipient e-mail to sendingforyou@yahoo.com
            </dt>
            <dd>
              <Image
                src={Wise3}
                alt="Step 4"
                width={250}
                height={564.52}
                class="image-loc"
              />
            </dd>
          </dl>
          <dl class="placement">
            <dt class="steps-list">
              5. Check the reason to transfer money
            </dt>
            <dd>
              <Image
                src={Wise4}
                alt="Step 5"
                width={250}
                height={276.19}
                class="image-loc"
              />
            </dd>
          </dl>
          <dl class="placement">
            <dt class="steps-list">
              6. Put in your ID into Reference (optional) and Send money
            </dt>
            <dd>
              <Image
                src={Wise5}
                alt="Step 6"
                width={250}
                height={519.14}
                class="image-loc"
              />
            </dd>
          </dl>
        </article>
      </div>
    </section>

    <section class="w-full mx-auto px-[0.75rem] lg:px-0">
      <article class="w-full max-w-[62.5rem] mx-auto mt-[13.5rem] mb-[10.5rem] px-[0.75rem] lg:px-0">
        <h2 class="w-full h-[2.625rem] text-center text-[1.5rem] sm:text-[1.125rem] lg:text-[1.875rem] font-bold leading-[1.875rem] sm:leading-[1.5rem] lg:leading-[2.55375rem] mb-[10.5rem]">
          ※ Be sure to check the below before order!
        </h2>
        <ol class="list-decimal list-inside space-y-[1rem] text-[1.125rem] sm:text-[1rem]">
          <li class="font-[400] subtext">
            After receiving the order form, proxy purchasing begins when payment is completed.
          </li>
          <li class="font-[400] subtext">
            If additional domestic shipping costs are incurred depending on the shopping mall, it will be added to the Forwarding Invoice.
          </li>
          <li class="font-[400] subtext">
            Depending on the shopping mall’s policy, returns may not be possible.
          </li>
          <li class="font-[400] subtext">
            Some items (candles, perfume, etc.) cannot be shipped overseas, so please inquire in advance.
          </li>
          <li class="font-[400] subtext">
            When applying for overseas shipping, items purchased on behalf of an PK helpers are reported at the full price including domestic shipping costs and our service fee.
          </li>
          <li class="font-[400] subtext">
            After submission, please send ‘Proxy Purchase’ via KakaoTalk.
          </li>
        </ol>
      </article>
    </section>

    <section class="w-full mx-auto mb-[13.5rem] px-[0.75rem] lg:px-0">
      <article class="w-full max-w-[70.0625rem] bg-gray-200 py-[10.5rem] px-[1.5rem] lg:py-[3.328125rem] lg:px-[2.484375rem] mt-[13.5rem] mb-[13.5rem] mx-auto flex flex-col justify-center rounded-[1.875rem]">
        <p class="subtext font-[700] ">
          ※ For offline proxy purchases, please send ‘Offline Proxy Purchase’ via KakaoTalk instead of filling out an order sheet.
        </p>
        <p class="subtext font-[700] ">
          ※ If you have an ID and PW of shopping mall, so you just want to check out after you put items into your cart, please enter the ID and PW in the memo.
        </p>
      </article>
    </section>
  </main>
</MainLayout>

<style>
  .subtext {
    @apply text-[1.125rem] sm:text-[1rem] lg:text-[1.125rem] leading-[1.5rem] sm:leading-[1.25rem] lg:leading-[1.532344rem] text-left;
  }

  .placement {
    @apply flex flex-col items-center w-full h-auto gap-[0.75rem] list-none;
  }

  .steps-list {
    @apply text-[1rem] font-bold leading-[1.02140625rem] text-center;
  }

  .image-loc {
    @apply mt-[0.9375rem] relative gap-0;
  }
</style>
