---
import CMSTags from "@/components/badges/CMS_Tags.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { baseUrl, cmsUrl } from "@/lib/utils";
import Image from "astro/components/Image.astro";
import { format } from "date-fns";
import qs from "qs";
export const prerender = false;

const query = {
  limit: 100,
  depth: 5,
};

const stringifiedQuery = qs.stringify(query, { addQueryPrefix: true });
const contentResponse = await fetch(cmsUrl("custom/pages", stringifiedQuery));
const contentJson: CMS_JSONResponse<CMS_Page> = await contentResponse.json();
const response = await fetch(cmsUrl("tag", stringifiedQuery));
const json: CMS_JSONResponse<CMS_Tag> = await response.json();
console.log(json.docs);
---

<MainLayout
  title="Shopping Recommendations | Pickup Korea"
  currentRoute="/shopping-recommendations"
>
  <main
    class="flex flex-col justify-start items-center min-h-[30rem] py-16 px-12"
  >
    <h1 class="page-title">Shopping Recommendations</h1>

    <aside class="my-16 max-w-4xl w-full mx-auto">
      <ul class="flex flex-wrap mx-auto justify-center gap-4">
        {
          json.docs.map((item) => (
            <li class="bg-primary py-2 px-4 rounded-full font-medium">
              <a
                href={encodeURI(`/shopping-recommendations/tags/${item.id}`)}
                class="hover:text-white transition-colors duration-300"
              >
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
    </aside>

    <section
      class="max-w-7xl w-full mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4"
    >
      {
        contentJson.docs.map((item) => (
          <a
            href={encodeURI(
              `/shopping-recommendations/recommendations/${item.id}`
            )}
            class="group"
          >
            <article class="border p-2 rounded-md shadow-sm max-h-[600px] flex-col gap-2 flex group-hover:scale-105 transition-transform duration-300">
              <Image
                class="max-h-[200px] h-[200px] grow"
                src={encodeURI(baseUrl + item.thumbnail.url)}
                width={item.thumbnail.width}
                alt={item.title}
                height={item.thumbnail.height}
              />
              <h2 class="text-lg font-bold my-2">{item.title}</h2>
              <p class="text-base break-keep multi-truncate grow basis-[70px] text-gray-600">
                {item.subTitle}
              </p>
              <CMSTags tags={item.tags} className="mb-0 mt-auto" />
              <div class="text-xs text-gray-500 text-right">
                Posted On: {format(new Date(item.createdAt), "yyyy-MM-dd")}
              </div>
            </article>
          </a>
        ))
      }
    </section>
  </main>
</MainLayout>
